#about{
    background-color: $c-background-colored;
    padding: 80px 0px;
    position: relative;   
    .left{
        left:0px;
    }
    .right{
        right:0px;
    }
    .float-right{
        float: right;
    }
    .photo{
        border-radius: 10px;
        overflow: hidden;
        max-width:65%;    
        
        &:hover img{
            transform: scale(1.1);
            transition: $t-regular;
        }
        img{
            width:100%;
            transition: $t-regular;
        }
    }
    .text{
        box-shadow: $bs-regular;
        max-width: 38%;
        border-radius: 10px;
        position: absolute;
        background-color: #fff;
        top: 45px;
        float: right;
       
        padding: 11px 25px;
        z-index: 99;
        h3{
            @include intro-header-h1;
            color: #3B566E;
        }
        p{
            @include section-header-text-property;
            text-align: justify;
            margin-bottom: 30px;
        }
    }
}