#about {
  background-color: #F7FAFD;
  padding: 80px 0px;
  position: relative; }
  #about .left {
    left: 0px; }
  #about .right {
    right: 0px; }
  #about .float-right {
    float: right; }
  #about .photo {
    border-radius: 10px;
    overflow: hidden;
    max-width: 65%; }
    #about .photo:hover img {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    #about .photo img {
      width: 100%;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
  #about .text {
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    max-width: 38%;
    border-radius: 10px;
    position: absolute;
    background-color: #fff;
    top: 45px;
    float: right;
    padding: 11px 25px;
    z-index: 99; }
    #about .text h3 {
      font-size: 28px;
      color: #1E3056;
      line-height: 46px;
      letter-spacing: 0.93px;
      margin-bottom: 20px;
      color: #3B566E; }
    #about .text p {
      line-height: 28px;
      letter-spacing: 1px;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 1.3px;
      color: #697BA2;
      position: relative;
      text-align: justify;
      margin-bottom: 30px; }

#blogsinglepage {
  background-color: #F7FAFD;
  padding: 100px 0px 80px 0px; }
  #blogsinglepage .row {
    display: block !important; }
  #blogsinglepage .content-blog-main, #blogsinglepage .content-blog-comments {
    margin-bottom: 30px; }
    #blogsinglepage .content-blog-main .text, #blogsinglepage .content-blog-comments .text {
      padding: 20px; }
      #blogsinglepage .content-blog-main .text p, #blogsinglepage .content-blog-comments .text p {
        text-align: left;
        font-size: 16px; }
  #blogsinglepage .mini-photo {
    border-radius: 7px;
    overflow: hidden;
    height: 150px;
    margin: 20px 0px;
    cursor: pointer; }
    #blogsinglepage .mini-photo:hover img {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    #blogsinglepage .mini-photo img {
      width: 100%;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
  #blogsinglepage blockquote {
    border-radius: 5px;
    background: #F4F8FB;
    overflow: hidden;
    margin-bottom: 28px;
    padding: 40px; }
    #blogsinglepage blockquote .text p {
      text-align: center !important;
      font-size: 14px !important;
      position: relative; }
      #blogsinglepage blockquote .text p:before {
        content: '"';
        position: absolute;
        font-size: 100px;
        top: 10px;
        left: -20px;
        color: #e4e7ea; }
      #blogsinglepage blockquote .text p:after {
        content: '"';
        position: absolute;
        font-size: 100px;
        bottom: -30px;
        right: 20px;
        color: #e4e7ea; }
    #blogsinglepage blockquote .author h5 {
      font-size: 16px; }
  #blogsinglepage .post-footer {
    border-top: 1px solid #F7FAFD;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 20px 0px; }
    #blogsinglepage .post-footer ul li {
      display: inline-block;
      margin: 0px 5px; }
  #blogsinglepage .content-blog-comments, #blogsinglepage .postcomment {
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    background-color: white;
    border-radius: 10px;
    padding: 30px; }
    #blogsinglepage .content-blog-comments .blog-header h5, #blogsinglepage .postcomment .blog-header h5 {
      text-align: left !important;
      line-height: 28px;
      letter-spacing: 1px;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 1.3px;
      color: #697BA2;
      position: relative;
      font-size: 18px; }
    #blogsinglepage .content-blog-comments .comment-content-list, #blogsinglepage .postcomment .comment-content-list {
      margin-top: 30px; }
      #blogsinglepage .content-blog-comments .comment-content-list li, #blogsinglepage .postcomment .comment-content-list li {
        margin-bottom: 40px; }
        #blogsinglepage .content-blog-comments .comment-content-list li .icon, #blogsinglepage .postcomment .comment-content-list li .icon {
          float: left;
          display: inline-block;
          font-size: 70px;
          background-color: #F7FAFD;
          color: #6F8BA4;
          border-radius: 5px; }
        #blogsinglepage .content-blog-comments .comment-content-list li ul, #blogsinglepage .postcomment .comment-content-list li ul {
          margin-top: 30px;
          padding-left: 30px; }
        #blogsinglepage .content-blog-comments .comment-content-list li .comment-content .name-time, #blogsinglepage .postcomment .comment-content-list li .comment-content .name-time {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
          #blogsinglepage .content-blog-comments .comment-content-list li .comment-content .name-time .name, #blogsinglepage .postcomment .comment-content-list li .comment-content .name-time .name {
            margin-left: 40px;
            text-align: left; }
          #blogsinglepage .content-blog-comments .comment-content-list li .comment-content .name-time h5, #blogsinglepage .postcomment .comment-content-list li .comment-content .name-time h5 {
            line-height: 28px;
            letter-spacing: 1px;
            text-align: center;
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 1.3px;
            color: #697BA2;
            position: relative;
            font-weight: 800;
            font-size: 14px; }
          #blogsinglepage .content-blog-comments .comment-content-list li .comment-content .name-time span, #blogsinglepage .postcomment .comment-content-list li .comment-content .name-time span {
            line-height: 26px;
            letter-spacing: 0.88px;
            font-size: 14px;
            font-weight: 400;
            font-weight: 400;
            font-size: 12px; }
          #blogsinglepage .content-blog-comments .comment-content-list li .comment-content .name-time a, #blogsinglepage .postcomment .comment-content-list li .comment-content .name-time a {
            background-color: #F7FAFD;
            color: #6F8BA4;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 5px;
            float: right; }
            #blogsinglepage .content-blog-comments .comment-content-list li .comment-content .name-time a i, #blogsinglepage .postcomment .comment-content-list li .comment-content .name-time a i {
              margin-right: 5px; }
        #blogsinglepage .content-blog-comments .comment-content-list li .comment-content .comment-text, #blogsinglepage .postcomment .comment-content-list li .comment-content .comment-text {
          margin-left: 110px;
          text-align: left;
          margin-top: 10px; }
          #blogsinglepage .content-blog-comments .comment-content-list li .comment-content .comment-text p, #blogsinglepage .postcomment .comment-content-list li .comment-content .comment-text p {
            line-height: 26px;
            letter-spacing: 0.88px;
            font-size: 14px;
            font-weight: 400;
            color: #6F8BA4; }
  #blogsinglepage .postcomment .postform {
    margin: 20px 0px; }
    #blogsinglepage .postcomment .postform .form-item {
      margin-top: 20px; }
      #blogsinglepage .postcomment .postform .form-item input, #blogsinglepage .postcomment .postform .form-item textarea {
        border: 1px solid #eee;
        width: 100%;
        height: 40px;
        outline: none;
        padding-left: 20px;
        padding-right: 20px; }
      #blogsinglepage .postcomment .postform .form-item label {
        display: block;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 0px;
        color: #6F8BA4; }
      #blogsinglepage .postcomment .postform .form-item textarea {
        height: 150px;
        resize: none;
        padding: 20px; }
      #blogsinglepage .postcomment .postform .form-item button {
        font-size: 14px;
        text-decoration: none;
        color: #fff;
        color: #585CE9;
        padding: 5px 30px;
        border: 1px solid #585CE9;
        border-radius: 6px;
        font-weight: 700;
        font-size: 12px;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        #blogsinglepage .postcomment .postform .form-item button[data-checked] {
          background-color: #585CE9;
          color: #fff;
          -webkit-box-shadow: 0 4px 5px 0 rgba(103, 67, 213, 0.24);
                  box-shadow: 0 4px 5px 0 rgba(103, 67, 213, 0.24);
          -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
        #blogsinglepage .postcomment .postform .form-item button[data-checked]:hover {
          background-color: #fff;
          color: #585CE9;
          -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }

#blogpage {
  background-color: #F7FAFD;
  padding: 100px 0px 80px 0px; }
  #blogpage .row {
    display: block; }
  #blogpage .content-blog-item {
    margin-top: 30px; }
    #blogpage .content-blog-item .photo {
      height: 200px;
      position: relative;
      overflow: hidden;
      border-bottom-left-radius: 0%;
      border-bottom-right-radius: 0%; }
      #blogpage .content-blog-item .photo img {
        width: 100%; }

.sidebar .search {
  margin-bottom: 30px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08); }
  .sidebar .search form {
    position: relative; }
    .sidebar .search form input {
      border: 1px solid #fff;
      display: block;
      width: 100%;
      height: 100%;
      outline: none;
      padding: 10px 50px 10px 20px;
      border-radius: 5px; }
      .sidebar .search form input::-webkit-input-placeholder {
        font-size: 16px; }
      .sidebar .search form input:-ms-input-placeholder {
        font-size: 16px; }
      .sidebar .search form input::-ms-input-placeholder {
        font-size: 16px; }
      .sidebar .search form input::placeholder {
        font-size: 16px; }
    .sidebar .search form button {
      position: absolute;
      z-index: 2;
      right: 7px;
      top: 3px;
      height: 35px;
      width: 35px;
      border: none;
      background-image: linear-gradient(127deg, #585CE9 0%, #5C83E3 91%);
      cursor: pointer;
      text-align: center;
      padding: 0px;
      border-radius: 4px;
      color: white; }
.sidebar .blog-types {
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08); }
  .sidebar .blog-types ul li {
    padding: 11px 25px;
    border-bottom: 1px solid #F7FAFD;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer; }
    .sidebar .blog-types ul li:hover a {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .sidebar .blog-types ul li::after {
      font-family: Flaticon;
      content: "\f111";
      position: absolute;
      left: 30px;
      color: #3B566E;
      font-size: 12px;
      line-height: 25px; }
    .sidebar .blog-types ul li a {
      line-height: 26px;
      letter-spacing: 0.88px;
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      padding-left: 35px;
      color: #3B566E;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      position: relative;
      display: inline-block; }
    .sidebar .blog-types ul li span {
      float: right;
      display: inline-block;
      background: #585CE9;
      width: 35px;
      height: 25px;
      text-align: center;
      line-height: 25px;
      color: white;
      border-radius: 10px; }
.sidebar .blog-buttons, .sidebar .contact-us {
  margin-bottom: 30px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  background-color: white;
  padding: 30px;
  padding-bottom: 20px;
  overflow: hidden; }
  .sidebar .blog-buttons a, .sidebar .contact-us a {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #f5f5f5;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 26px;
    letter-spacing: 0.88px;
    font-size: 14px;
    font-weight: 400;
    color: #3B566E;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    border-radius: 5px; }
    .sidebar .blog-buttons a:hover, .sidebar .contact-us a:hover {
      background-color: #585CE9;
      color: #F7FAFD;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
.sidebar .contact-us {
  padding: 0;
  height: 250px;
  position: relative;
  background-image: url(../img/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .sidebar .contact-us::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .70;
    background: #585CE9;
    top: 0%;
    left: 0%; }
  .sidebar .contact-us .content {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -50px;
    text-align: center;
    display: block;
    color: white;
    padding: 0px 40px; }
    .sidebar .contact-us .content h5 {
      letter-spacing: 0.69px;
      line-height: 30px;
      font-size: 16px;
      font-size: 18px;
      font-weight: 700; }
    .sidebar .contact-us .content .button {
      float: none;
      display: inline-block;
      margin-top: 20px;
      margin-right: 0px;
      font-size: 14px;
      letter-spacing: 0.5px;
      font-weight: 700; }

.content-blog-main, .content-blog-item {
  text-align: center;
  padding-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden; }
  .content-blog-main .photo, .content-blog-item .photo {
    position: relative;
    height: 450px;
    overflow: hidden;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%; }
    .content-blog-main .photo .time, .content-blog-item .photo .time {
      position: absolute !important;
      display: block;
      width: 100px;
      height: 30px;
      background-color: #3B566E;
      color: white !important;
      bottom: 0;
      left: 50%;
      margin-left: -50px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      line-height: 28px;
      letter-spacing: 1px;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 1.3px;
      color: #697BA2;
      position: relative; }
  .content-blog-main .name, .content-blog-item .name {
    margin: 30px 0px 10px;
    padding: 0px 20px 20px 20px; }
    .content-blog-main .name .about, .content-blog-item .name .about {
      margin: 10px; }
      .content-blog-main .name .about a, .content-blog-item .name .about a {
        text-decoration: none;
        color: #585CE9;
        margin: 10px; }
    .content-blog-main .name h3, .content-blog-item .name h3 {
      line-height: 28px;
      letter-spacing: 1px;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 1.3px;
      color: #697BA2;
      position: relative;
      color: #3B566E; }
  .content-blog-main .text, .content-blog-item .text {
    padding: 0px 20px 20px 20px;
    margin: 10px 0px 10px; }
    .content-blog-main .text p, .content-blog-item .text p {
      line-height: 26px;
      letter-spacing: 0.88px;
      font-size: 14px;
      font-weight: 400;
      color: #6F8BA4; }
  .content-blog-main .button, .content-blog-item .button {
    display: inline-block;
    padding: 10px 40px;
    background-color: #fff;
    font-size: 14px;
    line-height: 19px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #585CE9;
    text-decoration: none; }
    .content-blog-main .button:hover, .content-blog-item .button:hover {
      background-color: #4146e6;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      color: #fff; }

#faq {
  padding: 100px 0px 80px 0px; }
  #faq .name h1 {
    color: #585CE9; }
  #faq .faq-content {
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08); }
    #faq .faq-content .content-header {
      padding-bottom: 20px;
      padding: 11px 25px;
      border-bottom: 1px solid #F7FAFD;
      cursor: pointer;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      #faq .faq-content .content-header:hover {
        background-color: #F7FAFD;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        #faq .faq-content .content-header:hover h5 {
          -webkit-transform: translateX(10px);
                  transform: translateX(10px);
          -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
      #faq .faq-content .content-header h5 {
        line-height: 28px;
        letter-spacing: 1px;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 1.3px;
        color: #697BA2;
        position: relative;
        text-align: left;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        color: #3B566E; }
    #faq .faq-content .content-text {
      padding: 11px 25px;
      display: none; }
      #faq .faq-content .content-text p {
        margin-bottom: 10px;
        line-height: 26px;
        letter-spacing: 0.88px;
        font-size: 14px;
        font-weight: 400;
        color: #6F8BA4; }

#intro {
  overflow: hidden;
  position: relative;
  padding-top: 150px;
  padding-bottom: 100px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background: #fff url(../img/header-bg.svg);
  background-repeat: no-repeat; }
  #intro .align-self-center {
    -ms-flex-item-align: center !important;
        align-self: center !important; }
  #intro .section-contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-item-align: center !important;
        align-self: center !important; }
    #intro .section-contain .contain-item {
      width: 49%;
      overflow: hidden;
      border-radius: 10px;
      position: relative;
      height: 100%; }
      #intro .section-contain .contain-item img {
        width: 499px;
        height: 301px;
        z-index: 0;
        position: absolute;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        #intro .section-contain .contain-item img:hover {
          -webkit-transform: scale(1.2);
                  transform: scale(1.2);
          -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
      #intro .section-contain .contain-item .overflow {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #585ce994;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: white;
        padding: 10px;
        z-index: 3; }
        #intro .section-contain .contain-item .overflow .content span {
          display: block;
          margin: 0px 0px 10px; }
        #intro .section-contain .contain-item .overflow .content p {
          line-height: 30px;
          font-size: 18px;
          letter-spacing: 1px; }
    #intro .section-contain .maxHeight {
      height: 300px; }
    #intro .section-contain .minHeight {
      height: 280px; }
    #intro .section-contain .left-bottom {
      margin-top: 20px;
      position: relative; }
      #intro .section-contain .left-bottom::after {
        content: "\f112";
        font-family: "Flaticon";
        position: absolute;
        font-size: 60px;
        line-height: 50px;
        color: #ffffff7d;
        top: 41%;
        left: 37%; }

#footer {
  background-color: #585CE9;
  padding-top: 70px;
  color: #fff;
  font-family: "Nunito"; }
  #footer .row {
    display: block; }
    #footer .row .item-header {
      margin: 0px 0px 30px; }
      #footer .row .item-header h5 {
        letter-spacing: 0.69px;
        line-height: 30px;
        font-size: 16px; }
    #footer .row .item-contain {
      line-height: 26px;
      letter-spacing: 0.88px;
      font-size: 14px;
      font-weight: 400; }
      #footer .row .item-contain ul li {
        padding: 0px 0px 10px 0px; }
        #footer .row .item-contain ul li a {
          font-size: 14px;
          text-decoration: none;
          color: #fff; }
          #footer .row .item-contain ul li a i {
            margin-right: 10px;
            font-size: 10px; }
          #footer .row .item-contain ul li a span {
            -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            position: absolute; }
          #footer .row .item-contain ul li a:hover span {
            -webkit-transform: translateX(5px);
                    transform: translateX(5px);
            -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s; }
      #footer .row .item-contain .footer-social li {
        display: inline-block;
        padding: 5px 5px 0px 0px; }
        #footer .row .item-contain .footer-social li a {
          text-align: center;
          background-color: white;
          color: #585CE9;
          border-radius: 3px;
          padding: 1px 5px;
          -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
                  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06); }
          #footer .row .item-contain .footer-social li a i {
            margin-right: 0px;
            font-size: 12px; }
    #footer .row .copyright {
      line-height: 26px;
      letter-spacing: 0.88px;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      border-top: 1px solid #fff;
      padding: 35px 0px 40px;
      margin-top: 40px; }

#header {
  min-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0px;
  z-index: 100;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }
  #header .logo {
    float: left; }
  #header .navigation-bar {
    padding: 25px 0px;
    font-family: "Nunito"; }
    #header .navigation-bar .trigger {
      display: none;
      cursor: pointer; }
    #header .navigation-bar .menu {
      float: left; }
      #header .navigation-bar .menu ul {
        padding: 5px;
        margin-left: 60px; }
        #header .navigation-bar .menu ul .main-menu {
          display: inline-block;
          padding: 0px 30px;
          position: relative; }
          #header .navigation-bar .menu ul .main-menu[data-submenu]::after {
            right: 8px;
            font-size: 10px;
            top: 4px;
            content: "\f10f";
            font-family: "Flaticon";
            position: absolute; }
          #header .navigation-bar .menu ul .main-menu:hover .submenu {
            visibility: visible;
            opacity: 1;
            z-index: 1;
            -webkit-transform: translateY(0%);
                    transform: translateY(0%);
            -webkit-transition-delay: 0s, 0s, 0.3s;
                    transition-delay: 0s, 0s, 0.3s; }
          #header .navigation-bar .menu ul .main-menu a {
            font-size: 14px;
            text-decoration: none;
            color: #fff;
            color: #6F8BA4;
            font-weight: 600; }
          #header .navigation-bar .menu ul .main-menu .submenu {
            position: absolute;
            margin-left: 0px;
            width: 200px;
            -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
                    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
            background-color: #fff;
            border-radius: 5px;
            padding: 0px;
            top: 20px;
            opacity: 0;
            overflow: hidden;
            -webkit-transform: translateY(-2em);
                    transform: translateY(-2em);
            visibility: hidden;
            z-index: -1;
            -webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
            transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; }
            #header .navigation-bar .menu ul .main-menu .submenu li {
              margin-left: 0px;
              padding-left: 0px;
              padding-right: 0px; }
              #header .navigation-bar .menu ul .main-menu .submenu li a {
                display: block;
                background: #fff;
                color: #3B566E;
                padding-left: 20px;
                height: 40px;
                line-height: 40px;
                -webkit-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
                position: relative;
                font-size: 13px;
                border-bottom: 1px solid #f5f5f5; }
                #header .navigation-bar .menu ul .main-menu .submenu li a:hover {
                  background: #f5f5f5;
                  padding-left: 25px;
                  border-left: 4px solid #585CE9; }
    #header .navigation-bar .registration {
      float: right; }
      #header .navigation-bar .registration ul {
        padding: 5px; }
        #header .navigation-bar .registration ul li {
          display: inline-block; }

#blog {
  padding: 100px 0px 80px 0px;
  background-color: #F7FAFD; }

.content-blog {
  text-align: center; }
  .content-blog .photo {
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08); }
    .content-blog .photo img {
      width: 100%; }
  .content-blog .name {
    margin: 20px 0px; }
    .content-blog .name h3 {
      line-height: 28px;
      letter-spacing: 1px;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 1.3px;
      color: #697BA2;
      position: relative;
      color: #3B566E; }
  .content-blog .text {
    margin: 20px 0px 30px; }
    .content-blog .text p {
      line-height: 26px;
      letter-spacing: 0.88px;
      font-size: 14px;
      font-weight: 400;
      color: #6F8BA4; }
  .content-blog .button {
    display: inline-block;
    padding: 10px 40px;
    background-color: #fff;
    font-size: 14px;
    line-height: 19px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #585CE9;
    text-decoration: none; }
    .content-blog .button:hover {
      background-color: #4146e6;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      color: #fff; }

.button {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  color: #585CE9;
  padding: 5px 30px;
  border: 1px solid #585CE9;
  border-radius: 6px;
  font-weight: 700;
  font-size: 12px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .button[data-checked] {
    background-color: #585CE9;
    color: #fff;
    -webkit-box-shadow: 0 4px 5px 0 rgba(103, 67, 213, 0.24);
            box-shadow: 0 4px 5px 0 rgba(103, 67, 213, 0.24);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .button[data-checked]:hover {
    background-color: #fff;
    color: #585CE9;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .button:hover {
    background-color: #585CE9;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }

#cloud-services, #design-development {
  padding: 100px 0px 80px 0px;
  background-color: #F7FAFD; }
  #cloud-services .content-photo img, #design-development .content-photo img {
    position: relative;
    opacity: 0; }

#design-development {
  background-color: #fff; }

.content-cloudServices, .content-designDevelopment {
  width: 100%;
  margin: auto;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  background: #fff;
  margin-bottom: 20px;
  cursor: pointer;
  overflow: hidden; }
  .content-cloudServices a, .content-designDevelopment a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.88px;
    color: #3B566E;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .content-cloudServices a:hover, .content-designDevelopment a:hover {
      margin-left: 7px;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .content-cloudServices a:hover i, .content-designDevelopment a:hover i {
      color: #fff;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .content-cloudServices a:hover span::after, .content-designDevelopment a:hover span::after {
      background: #585CE9;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .content-cloudServices a i, .content-designDevelopment a i {
      color: #3B566E;
      margin-left: 20px;
      margin-right: 37px;
      font-size: 10px;
      z-index: 5;
      position: relative;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .content-cloudServices a span, .content-designDevelopment a span {
      position: relative;
      z-index: 2;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .content-cloudServices a span::after, .content-designDevelopment a span::after {
        content: '';
        position: absolute;
        width: 100px;
        height: 70px;
        left: -115px;
        top: -10px;
        background: #F7FAFD;
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }

#features {
  padding-top: 50px; }
  #features a {
    text-decoration: none;
    color: #585CE9; }

.content-features {
  border-radius: 5px;
  padding: 40px 35px;
  text-align: center;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #fff;
  position: relative;
  overflow: hidden;
  margin: 30px 0px;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px); }
  .content-features:hover {
    background-color: #585CE9;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .content-features:hover .header h5 {
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .content-features:hover .text p {
    color: #E5E9F7;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .content-features .logo {
    width: 67px;
    height: 67px;
    line-height: 70px;
    border-radius: 100%;
    margin-bottom: 20px;
    margin: auto;
    background-color: #F7FAFD; }
    .content-features .logo i {
      font-size: 20px; }
  .content-features .header h5 {
    line-height: 28px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1.3px;
    color: #697BA2;
    position: relative;
    color: #3B566E;
    margin: 15px 0px;
    font-weight: 700;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .content-features .text p {
    line-height: 26px;
    letter-spacing: 0.88px;
    font-size: 14px;
    font-weight: 400;
    color: #6F8BA4;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-weight: 400; }

#price-plans {
  padding: 40px 0px 20px 0px;
  background-color: #F7FAFD; }

.content-price {
  border-radius: 5px;
  text-align: center;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #fff;
  position: relative;
  margin: 70px 0px 0px; }
  .content-price .name[data-active] {
    background-image: linear-gradient(135deg, #585CE9 0%, #5C83E3 100%); }
    .content-price .name[data-active] h3 {
      color: white; }
  .content-price .name {
    padding: 40px;
    border-bottom: 1px solid #F7FAFD;
    position: relative; }
    .content-price .name h3 {
      line-height: 28px;
      letter-spacing: 1px;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 1.3px;
      color: #697BA2;
      position: relative;
      font-weight: 700; }
    .content-price .name span {
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: #F7FAFD;
      color: #585CE9;
      bottom: -19px;
      left: 46%;
      line-height: 40px;
      text-align: center;
      font-size: 20px;
      font-weight: 700; }
  .content-price .price {
    margin-top: 60px;
    margin-bottom: 30px; }
    .content-price .price h5 {
      margin: 0 auto;
      font-weight: 700;
      font-size: 34px;
      color: #585CE9;
      letter-spacing: 2.12px;
      position: relative; }
      .content-price .price h5 .currency {
        height: 47px;
        font-weight: 700;
        font-size: 20px;
        position: relative;
        top: -15px;
        color: #585CE9; }
      .content-price .price h5 span {
        font-size: 14px;
        letter-spacing: 0.88px; }
  .content-price .property ul li {
    padding: 10px 0px; }
  .content-price .property ul .passive {
    text-decoration: line-through;
    color: #6f8ba482; }
  .content-price .select {
    padding: 35px 0px; }
    .content-price .select .button {
      padding: 10px 30px; }

.section-header-left .name h1, .section-header-center .name h1 {
  font-size: 28px;
  color: #1E3056;
  line-height: 46px;
  letter-spacing: 0.93px;
  margin-bottom: 20px; }
  .section-header-left .name h1 span, .section-header-center .name h1 span {
    color: #585CE9; }
.section-header-left .text p, .section-header-center .text p {
  line-height: 28px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.3px;
  color: #697BA2;
  position: relative;
  text-align: left;
  margin-bottom: 40px; }
.section-header-left .button, .section-header-center .button {
  padding: 12px 50px; }

.section-header-center .name {
  text-align: center; }
.section-header-center .text p {
  text-align: center; }

#team {
  padding: 100px 0px 80px 0px; }

.content-team {
  border-radius: 5px;
  text-align: center;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #fff;
  position: relative;
  margin-bottom: 70px; }
  .content-team:hover .name::before {
    height: 120px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .content-team:hover .social-panel a {
    color: white;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .content-team:hover .photo {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .content-team .name {
    padding: 20px;
    color: white;
    position: relative; }
    .content-team .name::before {
      content: '';
      background-image: linear-gradient(135deg, #585CE9 0%, #5C83E3 100%);
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      height: 68px;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .content-team .name h3 {
      line-height: 28px;
      letter-spacing: 1px;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 1.3px;
      color: #697BA2;
      position: relative;
      color: #fff;
      line-height: 10px;
      margin-bottom: 10px; }
    .content-team .name span {
      position: relative;
      font-size: 12px;
      color: #E5E9F7;
      letter-spacing: 0.6px; }
  .content-team .social-panel {
    position: relative; }
    .content-team .social-panel ul li {
      display: inline-block;
      margin: 15px 10px; }
      .content-team .social-panel ul li a {
        font-size: 14px;
        line-height: 14px;
        text-decoration: none;
        color: #585CE9; }
  .content-team .text {
    padding: 20px 30px 60px; }
    .content-team .text p {
      line-height: 26px;
      letter-spacing: 0.88px;
      font-size: 14px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0.7px;
      color: #6F8BA4; }
  .content-team .photo {
    width: 96px;
    height: 96px;
    border-radius: 100%;
    border: 6px solid #fff;
    position: absolute;
    margin: auto;
    overflow: hidden;
    left: 0px;
    right: 0px;
    bottom: -60px;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .content-team .photo img {
      width: 100%; }

#parallax-digits, #parallax-contact, #parallax-aboutUs {
  min-height: 315px;
  overflow: hidden;
  position: relative;
  background-image: url(../img/parallax.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #parallax-digits::before, #parallax-contact::before, #parallax-aboutUs::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .70;
    background: #585CE9;
    top: 0%;
    left: 0%; }

.content-parallax {
  -ms-flex-item-align: center;
      align-self: center;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .content-parallax:hover {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .content-parallax strong {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 1.72px;
    margin-bottom: 40px;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: block; }
    .content-parallax strong::after {
      content: '';
      position: absolute;
      left: 0px;
      right: 0px;
      top: 65px;
      margin: auto;
      width: 115px;
      height: 1px;
      border-top: 2px dashed #fff; }
  .content-parallax span {
    display: block;
    color: #fff;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.86px; }

.content-contact .info {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  padding: 20px 0px; }
  .content-contact .info h3 {
    letter-spacing: 1px;
    margin-bottom: 40px; }
    .content-contact .info h3 span {
      text-decoration: underline; }
  .content-contact .info .button {
    display: inline-block;
    padding: 10px 40px;
    background-color: #fff;
    font-size: 14px;
    line-height: 19px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .content-contact .info .button:hover {
      background-color: #585CE9;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }

#parallax-aboutUs {
  background-image: url(../img/aboutUS.jpg);
  margin-top: 70px; }
  #parallax-aboutUs .content-aboutUs h1 {
    font-weight: 400;
    font-size: 36px;
    height: 50px;
    line-height: 46px;
    letter-spacing: 1.4px;
    color: #fff;
    text-align: center;
    position: relative;
    padding-bottom: 15px; }
    #parallax-aboutUs .content-aboutUs h1::before {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      margin: auto;
      width: 19px;
      height: 2px;
      background: #fff;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
  #parallax-aboutUs .links ul {
    display: block;
    text-align: center;
    margin-top: 20px; }
    #parallax-aboutUs .links ul li {
      display: inline-block;
      line-height: 26px;
      letter-spacing: 0.88px;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.66px; }
      #parallax-aboutUs .links ul li:first-child::after {
        content: "\f111";
        font-family: "Flaticon";
        color: #fff;
        font-size: 7px;
        margin-left: 6px; }
      #parallax-aboutUs .links ul li a {
        text-decoration: none;
        color: #E5E9F7; }

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/NunitoSans-Regular.WOFF");
  font-weight: 400; }
@font-face {
  font-family: 'Nunito';
  src: url("../fonts/NunitoSans-Bold.WOFF");
  font-weight: 700; }
@font-face {
  font-family: 'Nunito';
  src: url("../fonts/NunitoSans-ExtraBold.WOFF");
  font-weight: 800; }
@font-face {
  font-family: 'Nunito';
  src: url("../fonts/NunitoSans-Black.WOFF");
  font-weight: 900; }
/*
Flaticon icon font: Flaticon
Creation date: 24/08/2019 12:54
*/
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/Flaticon.eot");
  src: url("../fonts/flaticon/Flaticon.eot") format("embedded-opentype"), url("../fonts/flaticon/Flaticon.woff2") format("woff2"), url("../fonts/flaticon/Flaticon.woff") format("woff"), url("../fonts/flaticon/Flaticon.ttf") format("truetype"), url("../fonts/flaticon/Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg"); } }
.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.flaticon-laptop:before {
  content: "\f100"; }

.flaticon-video-camera:before {
  content: "\f101"; }

.flaticon-server:before {
  content: "\f102"; }

.flaticon-facebook-logo:before {
  content: "\f103"; }

.flaticon-twitter:before {
  content: "\f104"; }

.flaticon-linkedin:before {
  content: "\f105"; }

.flaticon-github-logo:before {
  content: "\f106"; }

.flaticon-mobileme-logo-of-black-cloud:before {
  content: "\f107"; }

.flaticon-google-plus:before {
  content: "\f108"; }

.flaticon-speech-bubble:before {
  content: "\f109"; }

.flaticon-man-user:before {
  content: "\f10a"; }

.flaticon-pinterest-logo:before {
  content: "\f10b"; }

.flaticon-magnifier:before {
  content: "\f10c"; }

.flaticon-reply:before {
  content: "\f10d"; }

.flaticon-copyright:before {
  content: "\f10e"; }

.flaticon-angle-arrow-down:before {
  content: "\f10f"; }

.flaticon-angle-pointing-to-left:before {
  content: "\f110"; }

.flaticon-angle-arrow-pointing-to-right:before {
  content: "\f111"; }

.flaticon-play-button:before {
  content: "\f112"; }

.flaticon-layers:before {
  content: "\f113"; }

.flaticon-layer:before {
  content: "\f114"; }

@media only screen and (max-width: 991px) {
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

  .row {
    display: block; }

  #header .trigger {
    display: block !important;
    position: absolute;
    top: 8px;
    right: 6px;
    text-decoration: none;
    color: black; }
    #header .trigger .top, #header .trigger .bottom, #header .trigger .middle {
      width: 35px;
      border: 1px solid black;
      margin: 13px;
      position: relative;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    #header .trigger .middle {
      width: 45px; }
  #header .active .top, #header .active .bottom {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  #header .active .top {
    -webkit-transform: rotate(45deg) translateY(22px) translateX(-2px);
            transform: rotate(45deg) translateY(22px) translateX(-2px); }
  #header .active .middle {
    display: none; }
  #header .active .bottom {
    -webkit-transform: rotate(-45deg) translateX(-12px) translateY(-13px);
            transform: rotate(-45deg) translateX(-12px) translateY(-13px); }
  #header .menu {
    width: 100%;
    position: absolute;
    display: none;
    margin-top: 40px;
    padding: 0px;
    left: 0;
    right: 0; }
    #header .menu ul {
      margin-left: 0px !important; }
      #header .menu ul .main-menu {
        display: block !important;
        background: #fff;
        border-bottom: 1px solid #f5f5f5;
        padding-left: 0px !important;
        padding-right: 0px !important; }
        #header .menu ul .main-menu[data-submenu]::after {
          right: 25px !important;
          font-size: 14px !important;
          top: 15px !important;
          content: "\f10f";
          font-family: "Flaticon"; }
        #header .menu ul .main-menu[data-submenu]:hover .submenu {
          height: auto !important; }
        #header .menu ul .main-menu:hover {
          background-color: #f5f5f5; }
        #header .menu ul .main-menu:hover > a {
          background-color: #f5f5f5 !important; }
        #header .menu ul .main-menu .submenu {
          position: relative;
          visibility: inherit;
          opacity: 1;
          z-index: 1;
          -webkit-transform: translateY(0%);
                  transform: translateY(0%);
          -webkit-transition-delay: 0s, 0s, 0.3s;
                  transition-delay: 0s, 0s, 0.3s;
          -webkit-box-shadow: none;
                  box-shadow: none;
          height: 0px;
          width: 100% !important;
          position: relative !important;
          top: 0 !important;
          display: block; }
          #header .menu ul .main-menu .submenu li {
            padding-left: 30px !important; }
        #header .menu ul .main-menu a {
          height: 50px !important;
          line-height: 50px !important;
          padding: 0px !important;
          padding-left: 30px !important;
          border: none !important;
          background: #fff !important;
          color: #3B566E !important; }
  #header .registration {
    display: none; }

  #intro .section-contain {
    margin-top: 50px; }
  #intro .section-header-left {
    text-align: center; }
    #intro .section-header-left .text p {
      text-align: center; }

  #cloud-services .content-photo, #design-development .content-photo {
    padding: 30px 0px 0px; }
    #cloud-services .content-photo img, #design-development .content-photo img {
      margin: 0 auto;
      display: block;
      -webkit-transform: translateX(0px) !important;
              transform: translateX(0px) !important; }

  #design-development .content-photo {
    padding: 0px 0px 30px; }

  #parallax-digits .content-parallax {
    padding: 20px 0px; }
    #parallax-digits .content-parallax strong {
      margin-bottom: 10px; }

  #price-plans .content-price {
    margin-bottom: 30px; }

  #blog .content-blog {
    margin-bottom: 30px;
    padding: 0px 20px; }

  #footer .footer-item {
    padding: 20px 0px; }
    #footer .footer-item .item-header {
      margin-bottom: 15px; }

  #about .photo, #about .text {
    width: 100% !important;
    max-width: 100% !important; }
  #about .text {
    position: relative !important;
    margin-bottom: 80px; }

  #faq .faq-content {
    margin-top: 50px; }

  #blogpage .sidebar .search, #blogsinglepage .sidebar .search {
    margin-top: 50px !important; }

  #parallax-aboutUs .content-aboutUs h1 {
    font-size: 26px !important; } }
body {
  font-family: "Nunito"; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/*# sourceMappingURL=main.css.map */