#footer {
  background-color: #585CE9;
  padding-top: 70px;
  color: #fff;
  font-family: "Nunito"; }
  #footer .item-header {
    margin: 0px 0px 30px; }
    #footer .item-header h5 {
      letter-spacing: 0.69px;
      line-height: 30px;
      font-size: 16px; }
  #footer .item-contain {
    line-height: 26px;
    letter-spacing: 0.88px;
    font-size: 14px; }
    #footer .item-contain ul li {
      padding: 0px 0px 10px 0px; }
      #footer .item-contain ul li a {
        font-size: 14px;
        text-decoration: none;
        color: #fff; }
        #footer .item-contain ul li a i {
          margin-right: 10px;
          font-size: 10px; }
        #footer .item-contain ul li a span {
          -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
          position: absolute; }
        #footer .item-contain ul li a:hover span {
          -webkit-transform: translateX(5px);
                  transform: translateX(5px);
          -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
    #footer .item-contain .footer-social li {
      display: inline-block;
      padding: 5px 5px 0px 0px; }
      #footer .item-contain .footer-social li a {
        text-align: center;
        background-color: white;
        color: #585CE9;
        border-radius: 3px;
        padding: 1px 5px;
        -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
                box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06); }
        #footer .item-contain .footer-social li a i {
          margin-right: 0px;
          font-size: 12px; }
  #footer .copyright {
    line-height: 26px;
    letter-spacing: 0.88px;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #fff;
    padding: 35px 0px 40px;
    margin-top: 40px; }

#header {
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06); }
  #header .logo {
    float: left; }
  #header .navigation-bar {
    height: 25px;
    padding: 25px 0px;
    font-family: "Nunito"; }
    #header .navigation-bar .menu {
      float: left; }
      #header .navigation-bar .menu ul {
        padding: 5px;
        margin-left: 60px; }
        #header .navigation-bar .menu ul .main-menu {
          display: inline-block;
          padding: 0px 30px;
          position: relative; }
          #header .navigation-bar .menu ul .main-menu:hover .submenu {
            visibility: visible;
            opacity: 1;
            z-index: 1;
            -webkit-transform: translateY(0%);
                    transform: translateY(0%);
            -webkit-transition-delay: 0s, 0s, 0.3s;
                    transition-delay: 0s, 0s, 0.3s; }
          #header .navigation-bar .menu ul .main-menu a {
            font-size: 14px;
            text-decoration: none;
            color: #fff;
            color: #6F8BA4;
            font-weight: 600; }
            #header .navigation-bar .menu ul .main-menu a[data-submenu]::after {
              content: "\f10f";
              font-family: "Flaticon";
              margin-left: 15px;
              font-size: 8px; }
          #header .navigation-bar .menu ul .main-menu .submenu {
            position: absolute;
            margin-left: 0px;
            width: 200px;
            -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
                    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
            background-color: #fff;
            border-radius: 5px;
            padding: 0px;
            top: 20px;
            opacity: 0;
            overflow: hidden;
            -webkit-transform: translateY(-2em);
                    transform: translateY(-2em);
            visibility: hidden;
            z-index: -1;
            -webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
            transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; }
            #header .navigation-bar .menu ul .main-menu .submenu li {
              margin-left: 0px;
              padding-left: 0px;
              padding-right: 0px; }
              #header .navigation-bar .menu ul .main-menu .submenu li a {
                display: block;
                background: #fff;
                color: #3B566E;
                padding-left: 20px;
                height: 40px;
                line-height: 40px;
                -webkit-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
                position: relative;
                font-size: 13px;
                border-bottom: 1px solid #f5f5f5; }
                #header .navigation-bar .menu ul .main-menu .submenu li a:hover {
                  background: #f5f5f5;
                  padding-left: 25px;
                  border-left: 4px solid #585CE9; }
    #header .navigation-bar .registration {
      float: right; }
      #header .navigation-bar .registration ul {
        padding: 5px; }
        #header .navigation-bar .registration ul li {
          display: inline-block; }
          #header .navigation-bar .registration ul li a {
            font-size: 14px;
            text-decoration: none;
            color: #fff;
            color: #585CE9;
            padding: 5px 30px;
            border: 1px solid #585CE9;
            border-radius: 6px;
            font-weight: 700;
            font-size: 12px;
            -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s; }
            #header .navigation-bar .registration ul li a[data-checked] {
              background-color: #585CE9;
              color: #fff;
              -webkit-box-shadow: 0 4px 5px 0 rgba(103, 67, 213, 0.24);
                      box-shadow: 0 4px 5px 0 rgba(103, 67, 213, 0.24);
              -webkit-transition: all 0.3s ease 0s;
              transition: all 0.3s ease 0s; }
            #header .navigation-bar .registration ul li a[data-checked]:hover {
              background-color: #fff;
              color: #585CE9;
              -webkit-transition: all 0.3s ease 0s;
              transition: all 0.3s ease 0s; }
            #header .navigation-bar .registration ul li a:hover {
              background-color: #585CE9;
              color: #fff;
              -webkit-transition: all 0.3s ease 0s;
              transition: all 0.3s ease 0s; }

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/NunitoSans-Regular.WOFF");
  font-weight: 400; }
@font-face {
  font-family: 'Nunito';
  src: url("../fonts/NunitoSans-Bold.WOFF");
  font-weight: 700; }
@font-face {
  font-family: 'Nunito';
  src: url("../fonts/NunitoSans-ExtraBold.WOFF");
  font-weight: 800; }
@font-face {
  font-family: 'Nunito';
  src: url("../fonts/NunitoSans-Black.WOFF");
  font-weight: 900; }
/*
Flaticon icon font: Flaticon
Creation date: 24/08/2019 12:54
*/
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/Flaticon.eot");
  src: url("../fonts/flaticon/Flaticon.eot") format("embedded-opentype"), url("../fonts/flaticon/Flaticon.woff2") format("woff2"), url("../fonts/flaticon/Flaticon.woff") format("woff"), url("../fonts/flaticon/Flaticon.ttf") format("truetype"), url("../fonts/flaticon/Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg"); } }
.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.flaticon-laptop:before {
  content: "\f100"; }

.flaticon-video-camera:before {
  content: "\f101"; }

.flaticon-server:before {
  content: "\f102"; }

.flaticon-facebook-logo:before {
  content: "\f103"; }

.flaticon-twitter:before {
  content: "\f104"; }

.flaticon-linkedin:before {
  content: "\f105"; }

.flaticon-github-logo:before {
  content: "\f106"; }

.flaticon-mobileme-logo-of-black-cloud:before {
  content: "\f107"; }

.flaticon-google-plus:before {
  content: "\f108"; }

.flaticon-speech-bubble:before {
  content: "\f109"; }

.flaticon-man-user:before {
  content: "\f10a"; }

.flaticon-pinterest-logo:before {
  content: "\f10b"; }

.flaticon-magnifier:before {
  content: "\f10c"; }

.flaticon-reply:before {
  content: "\f10d"; }

.flaticon-copyright:before {
  content: "\f10e"; }

.flaticon-angle-arrow-down:before {
  content: "\f10f"; }

.flaticon-angle-pointing-to-left:before {
  content: "\f110"; }

.flaticon-angle-arrow-pointing-to-right:before {
  content: "\f111"; }

.flaticon-play-button:before {
  content: "\f112"; }

/*# sourceMappingURL=main.css.map */