@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

#intro {
  overflow: hidden;
  position: relative;
  padding-top: 150px;
  padding-bottom: 100px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background: #fff url(../img/header-bg.svg);
  background-repeat: no-repeat; }
  #intro .align-self-center {
    -ms-flex-item-align: center !important;
        align-self: center !important; }
  #intro .section-contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-item-align: center !important;
        align-self: center !important; }
    #intro .section-contain .contain-item {
      width: 49%;
      overflow: hidden;
      border-radius: 10px;
      position: relative;
      height: 100%; }
      #intro .section-contain .contain-item img {
        width: 499px;
        height: 301px;
        z-index: 0;
        position: absolute;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        #intro .section-contain .contain-item img:hover {
          -webkit-transform: scale(1.2);
                  transform: scale(1.2);
          -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
      #intro .section-contain .contain-item .overflow {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #585ce994;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: white;
        padding: 10px;
        z-index: 3; }
        #intro .section-contain .contain-item .overflow .content span {
          display: block;
          margin: 0px 0px 10px; }
        #intro .section-contain .contain-item .overflow .content p {
          line-height: 30px;
          font-size: 18px;
          letter-spacing: 1px; }
    #intro .section-contain .maxHeight {
      height: 300px; }
    #intro .section-contain .minHeight {
      height: 280px; }
    #intro .section-contain .left-bottom {
      margin-top: 20px;
      position: relative; }
      #intro .section-contain .left-bottom::after {
        content: "\f112";
        font-family: "Flaticon";
        position: absolute;
        font-size: 60px;
        line-height: 50px;
        color: #ffffff7d;
        top: 41%;
        left: 37%; }

#footer {
  background-color: #585CE9;
  padding-top: 70px;
  color: #fff;
  font-family: "Nunito"; }
  #footer .row {
    display: block; }
    #footer .row .item-header {
      margin: 0px 0px 30px; }
      #footer .row .item-header h5 {
        letter-spacing: 0.69px;
        line-height: 30px;
        font-size: 16px; }
    #footer .row .item-contain {
      line-height: 26px;
      letter-spacing: 0.88px;
      font-size: 14px;
      font-weight: 400; }
      #footer .row .item-contain ul li {
        padding: 0px 0px 10px 0px; }
        #footer .row .item-contain ul li a {
          font-size: 14px;
          text-decoration: none;
          color: #fff; }
          #footer .row .item-contain ul li a i {
            margin-right: 10px;
            font-size: 10px; }
          #footer .row .item-contain ul li a span {
            -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            position: absolute; }
          #footer .row .item-contain ul li a:hover span {
            -webkit-transform: translateX(5px);
                    transform: translateX(5px);
            -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s; }
      #footer .row .item-contain .footer-social li {
        display: inline-block;
        padding: 5px 5px 0px 0px; }
        #footer .row .item-contain .footer-social li a {
          text-align: center;
          background-color: white;
          color: #585CE9;
          border-radius: 3px;
          padding: 1px 5px;
          -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
                  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06); }
          #footer .row .item-contain .footer-social li a i {
            margin-right: 0px;
            font-size: 12px; }
    #footer .row .copyright {
      line-height: 26px;
      letter-spacing: 0.88px;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      border-top: 1px solid #fff;
      padding: 35px 0px 40px;
      margin-top: 40px; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0px;
  z-index: 100;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  #header .logo {
    float: left; }
  #header .navigation-bar {
    height: 25px;
    padding: 25px 0px;
    font-family: "Nunito"; }
    #header .navigation-bar .menu {
      float: left; }
      #header .navigation-bar .menu ul {
        padding: 5px;
        margin-left: 60px; }
        #header .navigation-bar .menu ul .main-menu {
          display: inline-block;
          padding: 0px 30px;
          position: relative; }
          #header .navigation-bar .menu ul .main-menu:hover .submenu {
            visibility: visible;
            opacity: 1;
            z-index: 1;
            -webkit-transform: translateY(0%);
                    transform: translateY(0%);
            -webkit-transition-delay: 0s, 0s, 0.3s;
                    transition-delay: 0s, 0s, 0.3s; }
          #header .navigation-bar .menu ul .main-menu a {
            font-size: 14px;
            text-decoration: none;
            color: #fff;
            color: #6F8BA4;
            font-weight: 600; }
            #header .navigation-bar .menu ul .main-menu a[data-submenu]::after {
              content: "\f10f";
              font-family: "Flaticon";
              margin-left: 15px;
              font-size: 8px; }
          #header .navigation-bar .menu ul .main-menu .submenu {
            position: absolute;
            margin-left: 0px;
            width: 200px;
            -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
                    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
            background-color: #fff;
            border-radius: 5px;
            padding: 0px;
            top: 20px;
            opacity: 0;
            overflow: hidden;
            -webkit-transform: translateY(-2em);
                    transform: translateY(-2em);
            visibility: hidden;
            z-index: -1;
            -webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
            transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; }
            #header .navigation-bar .menu ul .main-menu .submenu li {
              margin-left: 0px;
              padding-left: 0px;
              padding-right: 0px; }
              #header .navigation-bar .menu ul .main-menu .submenu li a {
                display: block;
                background: #fff;
                color: #3B566E;
                padding-left: 20px;
                height: 40px;
                line-height: 40px;
                -webkit-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
                position: relative;
                font-size: 13px;
                border-bottom: 1px solid #f5f5f5; }
                #header .navigation-bar .menu ul .main-menu .submenu li a:hover {
                  background: #f5f5f5;
                  padding-left: 25px;
                  border-left: 4px solid #585CE9; }
    #header .navigation-bar .registration {
      float: right; }
      #header .navigation-bar .registration ul {
        padding: 5px; }
        #header .navigation-bar .registration ul li {
          display: inline-block; }

#blog {
  padding: 100px 0px 80px 0px;
  background-color: #F7FAFD; }
  #blog .content-blog {
    text-align: center; }
    #blog .content-blog .photo {
      height: 200px;
      border-radius: 10px;
      overflow: hidden;
      -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
              box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08); }
      #blog .content-blog .photo img {
        width: 100%; }
    #blog .content-blog .name {
      margin: 20px 0px; }
      #blog .content-blog .name h3 {
        line-height: 28px;
        letter-spacing: 1px;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 1.3px;
        color: #697BA2;
        position: relative;
        color: #3B566E; }
    #blog .content-blog .text {
      margin: 20px 0px 30px; }
      #blog .content-blog .text p {
        line-height: 26px;
        letter-spacing: 0.88px;
        font-size: 14px;
        font-weight: 400;
        color: #6F8BA4; }
    #blog .content-blog .button {
      display: inline-block;
      padding: 10px 40px;
      background-color: #fff;
      font-size: 14px;
      line-height: 19px;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      background-color: #585CE9; }
      #blog .content-blog .button:hover {
        background-color: #4146e6;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        color: #fff; }

.button {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  color: #585CE9;
  padding: 5px 30px;
  border: 1px solid #585CE9;
  border-radius: 6px;
  font-weight: 700;
  font-size: 12px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .button[data-checked] {
    background-color: #585CE9;
    color: #fff;
    -webkit-box-shadow: 0 4px 5px 0 rgba(103, 67, 213, 0.24);
            box-shadow: 0 4px 5px 0 rgba(103, 67, 213, 0.24);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .button[data-checked]:hover {
    background-color: #fff;
    color: #585CE9;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .button:hover {
    background-color: #585CE9;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }

#cloud-services, #design-development {
  padding: 100px 0px 80px 0px;
  background-color: #F7FAFD; }
  #cloud-services .content-photo, #design-development .content-photo {
    -ms-flex-item-align: center;
        align-self: center;
    position: relative;
    opacity: 0; }

#design-development {
  background-color: #fff; }

.content-cloudServices, .content-designDevelopment {
  width: 100%;
  margin: auto;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  background: #fff;
  margin-bottom: 20px;
  cursor: pointer;
  overflow: hidden; }
  .content-cloudServices a, .content-designDevelopment a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.88px;
    color: #3B566E;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .content-cloudServices a:hover, .content-designDevelopment a:hover {
      margin-left: 7px;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .content-cloudServices a:hover i, .content-designDevelopment a:hover i {
      color: #fff;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .content-cloudServices a:hover span::after, .content-designDevelopment a:hover span::after {
      background: #585CE9;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .content-cloudServices a i, .content-designDevelopment a i {
      color: #3B566E;
      margin-left: 20px;
      margin-right: 37px;
      font-size: 10px;
      z-index: 5;
      position: relative;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .content-cloudServices a span, .content-designDevelopment a span {
      position: relative;
      z-index: 2;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .content-cloudServices a span::after, .content-designDevelopment a span::after {
        content: '';
        position: absolute;
        width: 100px;
        height: 70px;
        left: -115px;
        top: -10px;
        background: #F7FAFD;
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }

#features {
  padding-bottom: 100px 0px 80px 0px; }
  #features a {
    text-decoration: none;
    color: #585CE9; }

.content-features {
  border-radius: 5px;
  padding: 40px 35px;
  text-align: center;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #fff;
  position: relative;
  overflow: hidden;
  margin: 30px 0px;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px); }
  .content-features:hover {
    background-color: #585CE9;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .content-features:hover .header h5 {
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .content-features:hover .text p {
    color: #E5E9F7;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .content-features .logo {
    width: 67px;
    height: 67px;
    line-height: 70px;
    border-radius: 100%;
    margin-bottom: 20px;
    margin: auto;
    background-color: #F7FAFD; }
    .content-features .logo i {
      font-size: 20px; }
  .content-features .header h5 {
    line-height: 28px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1.3px;
    color: #697BA2;
    position: relative;
    color: #3B566E;
    margin: 15px 0px;
    font-weight: 700;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .content-features .text p {
    line-height: 26px;
    letter-spacing: 0.88px;
    font-size: 14px;
    font-weight: 400;
    color: #6F8BA4;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-weight: 400; }

#price-plans {
  padding: 100px 0px 80px 0px;
  background-color: #F7FAFD; }

.content-price {
  border-radius: 5px;
  text-align: center;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #fff;
  position: relative;
  margin-bottom: 70px; }
  .content-price .name[data-active] {
    background-image: linear-gradient(135deg, #585CE9 0%, #5C83E3 100%); }
    .content-price .name[data-active] h3 {
      color: white; }
  .content-price .name {
    padding: 40px;
    border-bottom: 1px solid #F7FAFD;
    position: relative; }
    .content-price .name h3 {
      line-height: 28px;
      letter-spacing: 1px;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 1.3px;
      color: #697BA2;
      position: relative;
      font-weight: 700; }
    .content-price .name span {
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: #F7FAFD;
      color: #585CE9;
      bottom: -19px;
      left: 46%;
      line-height: 40px;
      text-align: center;
      font-size: 20px;
      font-weight: 700; }
  .content-price .price {
    margin-top: 60px;
    margin-bottom: 30px; }
    .content-price .price h5 {
      margin: 0 auto;
      font-weight: 700;
      font-size: 34px;
      color: #585CE9;
      letter-spacing: 2.12px;
      position: relative; }
      .content-price .price h5::before {
        content: '$';
        font-family: "Nunito";
        font-size: 20px;
        position: absolute;
        color: #585CE9;
        font-weight: 900;
        top: 0;
        left: 26%; }
      .content-price .price h5 span {
        font-size: 14px;
        letter-spacing: 0.88px; }
  .content-price .property ul li {
    padding: 10px 0px; }
  .content-price .property ul .passive {
    text-decoration: line-through;
    color: #6f8ba482; }
  .content-price .select {
    padding: 35px 0px; }
    .content-price .select .button {
      padding: 10px 30px; }

.section-header-left .name h1, .section-header-center .name h1 {
  font-size: 28px;
  color: #1E3056;
  line-height: 46px;
  letter-spacing: 0.93px;
  margin-bottom: 20px; }
  .section-header-left .name h1 span, .section-header-center .name h1 span {
    color: #585CE9; }
.section-header-left .text p, .section-header-center .text p {
  line-height: 28px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.3px;
  color: #697BA2;
  position: relative;
  text-align: left;
  margin-bottom: 40px; }
.section-header-left .button, .section-header-center .button {
  padding: 12px 50px; }

.section-header-center .name {
  text-align: center; }
.section-header-center .text p {
  text-align: center; }

#team {
  padding: 100px 0px 80px 0px; }

.content-team {
  border-radius: 5px;
  text-align: center;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #fff;
  position: relative;
  margin-bottom: 70px; }
  .content-team:hover .name::before {
    height: 120px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .content-team:hover .social-panel a {
    color: white;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .content-team:hover .photo {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .content-team .name {
    padding: 20px;
    color: white;
    position: relative; }
    .content-team .name::before {
      content: '';
      background-image: linear-gradient(135deg, #585CE9 0%, #5C83E3 100%);
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      height: 68px;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .content-team .name h3 {
      line-height: 28px;
      letter-spacing: 1px;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 1.3px;
      color: #697BA2;
      position: relative;
      color: #fff;
      line-height: 10px;
      margin-bottom: 10px; }
    .content-team .name span {
      position: relative;
      font-size: 12px;
      color: #E5E9F7;
      letter-spacing: 0.6px; }
  .content-team .social-panel {
    position: relative; }
    .content-team .social-panel ul li {
      display: inline-block;
      margin: 15px 10px; }
      .content-team .social-panel ul li a {
        font-size: 14px;
        line-height: 14px;
        text-decoration: none;
        color: #585CE9; }
  .content-team .text {
    padding: 20px 30px 60px; }
    .content-team .text p {
      line-height: 26px;
      letter-spacing: 0.88px;
      font-size: 14px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0.7px;
      color: #6F8BA4; }
  .content-team .photo {
    width: 96px;
    height: 96px;
    border-radius: 100%;
    border: 6px solid #fff;
    position: absolute;
    margin: auto;
    overflow: hidden;
    left: 0px;
    right: 0px;
    bottom: -60px;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .content-team .photo img {
      width: 100%; }

#parallax-digits, #parallax-contact {
  min-height: 315px;
  overflow: hidden;
  position: relative;
  background-image: url(../img/parallax.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #parallax-digits::before, #parallax-contact::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .70;
    background: #585CE9;
    top: 0%;
    left: 0%; }

.content-parallax {
  -ms-flex-item-align: center;
      align-self: center;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .content-parallax:hover {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .content-parallax strong {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 1.72px;
    margin-bottom: 40px;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: block; }
    .content-parallax strong::after {
      content: '----------------';
      position: absolute;
      top: 45px;
      left: 55px;
      font-size: 18px; }
  .content-parallax span {
    display: block;
    color: #fff;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.86px; }

.content-contact .info {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  padding: 20px 0px; }
  .content-contact .info h3 {
    letter-spacing: 1px;
    margin-bottom: 40px; }
    .content-contact .info h3 span {
      text-decoration: underline; }
  .content-contact .info .button {
    display: inline-block;
    padding: 10px 40px;
    background-color: #fff;
    font-size: 14px;
    line-height: 19px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .content-contact .info .button:hover {
      background-color: #585CE9;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/NunitoSans-Regular.WOFF");
  font-weight: 400; }
@font-face {
  font-family: 'Nunito';
  src: url("../fonts/NunitoSans-Bold.WOFF");
  font-weight: 700; }
@font-face {
  font-family: 'Nunito';
  src: url("../fonts/NunitoSans-ExtraBold.WOFF");
  font-weight: 800; }
@font-face {
  font-family: 'Nunito';
  src: url("../fonts/NunitoSans-Black.WOFF");
  font-weight: 900; }
/*
Flaticon icon font: Flaticon
Creation date: 24/08/2019 12:54
*/
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/Flaticon.eot");
  src: url("../fonts/flaticon/Flaticon.eot") format("embedded-opentype"), url("../fonts/flaticon/Flaticon.woff2") format("woff2"), url("../fonts/flaticon/Flaticon.woff") format("woff"), url("../fonts/flaticon/Flaticon.ttf") format("truetype"), url("../fonts/flaticon/Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg"); } }
.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.flaticon-laptop:before {
  content: "\f100"; }

.flaticon-video-camera:before {
  content: "\f101"; }

.flaticon-server:before {
  content: "\f102"; }

.flaticon-facebook-logo:before {
  content: "\f103"; }

.flaticon-twitter:before {
  content: "\f104"; }

.flaticon-linkedin:before {
  content: "\f105"; }

.flaticon-github-logo:before {
  content: "\f106"; }

.flaticon-mobileme-logo-of-black-cloud:before {
  content: "\f107"; }

.flaticon-google-plus:before {
  content: "\f108"; }

.flaticon-speech-bubble:before {
  content: "\f109"; }

.flaticon-man-user:before {
  content: "\f10a"; }

.flaticon-pinterest-logo:before {
  content: "\f10b"; }

.flaticon-magnifier:before {
  content: "\f10c"; }

.flaticon-reply:before {
  content: "\f10d"; }

.flaticon-copyright:before {
  content: "\f10e"; }

.flaticon-angle-arrow-down:before {
  content: "\f10f"; }

.flaticon-angle-pointing-to-left:before {
  content: "\f110"; }

.flaticon-angle-arrow-pointing-to-right:before {
  content: "\f111"; }

.flaticon-play-button:before {
  content: "\f112"; }

body {
  font-family: "Nunito"; }

/*# sourceMappingURL=main.css.map */