#parallax-digits, #parallax-contact, #parallax-aboutUs{   
    min-height: 315px;
    overflow: hidden;
    position:relative;
    background-image: url(../img/parallax.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: .70;
        background: $c-blue;
        top: 0%;
        left: 0%;
    }    
}

.content-parallax{
    align-self: center;
    color:$c-white;
    text-align: center;
    transition: $t-regular;
    &:hover{
        transform: translateY(-25px);
        transition: $t-regular;
    }   
    strong{
        font-size:45px;
        font-weight: 700;
        letter-spacing: 1.72px;
        margin-bottom: 40px;
        position: relative;
        transition: $t-regular;
        display:block;
        &::after{
            content: '';
            position: absolute;
            left: 0px;
            right: 0px;
            top: 65px;
            margin: auto;
            width: 115px;
            height: 1px;
            border-top: 2px dashed #fff;
        }
    }
    span{
        display: block;
        color: #fff;
        font-weight: 400;
        font-size: 25px;
        line-height: 35px;
        letter-spacing: 0.86px;
    }
    
}
.content-contact{
    .info{
        text-align: center;
        font-weight: 400;
        font-size: 24px;
        color: #fff;
        padding: 20px 0px;
        h3{
            letter-spacing: 1px;
            margin-bottom: 40px;
           span{
                text-decoration: underline;
            }
        }
        .button{
            @include button-parallax-blog;
            
            &:hover{
                background-color: $c-blue;
                transition: $t-regular;
            }
        }
    }
}
#parallax-aboutUs{
    background-image: url(../img/aboutUS.jpg);
    margin-top:70px;
    .content-aboutUs{
        
        h1{
            @include page-header-h1;
            position: relative;
            padding-bottom: 15px;
            &::before{
                content: '';
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                margin: auto;
                width: 19px;
                height: 2px;
                background: #fff;
               box-sizing: border-box;
            }
        }
    }
    .links{
        
        ul{
            display: block;
            text-align: center;
            margin-top: 20px;
            li{
                display: inline-block;
                @include item-text-property;
                letter-spacing: 0.66px;
                &:first-child{
                    &::after{
                        content: "\f111";
                        font-family: "Flaticon";
                        color:$c-white;
                        font-size: 7px;
                        margin-left: 6px;
                    }
                }
                a{
                    text-decoration: none;
                    color:#E5E9F7;
                }
            }
        }
    }
}
