.preloader{
    width:100%;
    height:100%;
    z-index: 1000;
    left:0;
    top:0;
    position:fixed;
    transition: 2s;
    &::before{
        content: '';
        position: absolute;
        width:50%;
        height: 100%;
        left:0;
        background-color: $c-blue;
        transition: 2s;
    }
    &::after{
        content: '';
        position: absolute;
        width:50%;
        height: 100%;
        right:0;
        background-color: $c-blue;
        transition: 2s;
    }
    .spinner{
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        .shadow{
            width: 50px;
        height: 5px;
        background: #000;
        opacity: 0.1;
        position: absolute;
        top: 59px;
        left: 0;
        border-radius: 50%;
        animation: shadow .5s linear infinite;
        }
        .box{
            width: 50px;
        height: 50px;
        background: #fff;
        animation: animate .5s linear infinite;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 3px;
        }
    }
        
}
.complete{
    &::before{
        left:-50%;
        transition: 2s;
    }
    &::after{
        right:-50%;
        transition: 2s;
    }
}

