@mixin item-text-property{
    line-height: 26px;
    letter-spacing: 0.88px;
    font-size:  $fs-item-contain;
}
@mixin section-header-text-property{
    line-height: 28px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    color: #697BA2;
    position: relative;
}

@mixin H5-property{
    letter-spacing: 0.69px;
    line-height: 30px;
    font-size: $fs-item-header;
}

@mixin footer-nav-a-property{
    font-size: $fs-item-contain;
    text-decoration: none;
    color: $c-white;
}

@mixin intro-header-h1{    
    font-size: 28px;
    color: #1E3056;
    line-height: 46px;
    letter-spacing: 0.93px;
    margin-bottom: 20px;
}

    
    