@media only screen and (max-width: 991px){
    
    #intro{       
        .section-contain{
            margin-top: 50px;
        }
        .section-header-left{
            text-align: center;
            .text{
                p{
                    text-align: center;
                }
            }
        }
    } 

    #cloud-services, #design-development{
        .content-photo{
            padding: 30px 0px 0px;
            img{
                margin: 0 auto;
                display:block;
                transform: translateX(0px) !important;
                // transition: $t-regular;

            }
        }
    }

    #design-development{
        .content-photo{
            padding: 0px 0px 30px;
        }
    }


}