@media only screen and (max-width: 991px){
    *{

        box-sizing: border-box;
    }
  
    .row{
        display: block;
        // margin-right: -5px !important;
        // margin-left: -5px !important;
    }

    // "HOME" PAGE RESPONSIVE PROPERTY
    #header{
        .trigger{
            display: block !important;
            position: absolute;
            top: 8px;
            right: 6px;
            text-decoration: none;
            color: black;
            .top,.bottom,.middle{
                width: 35px;
                border: 1px solid black;
                margin: 13px;
                position: relative;  
                transition: $t-regular;          
            }
            .middle{
                width:45px;
            }         
        }
        .active{
            .top,.bottom{
                transition: $t-regular;
            }
            .top{
                transform: rotate(45deg) translateY(22px) translateX(-2px);
            }
            .middle{
                display: none;
            }
            .bottom{
                transform: rotate(-45deg) translateX(-12px) translateY(-13px);
            }
        }
        .menu{
            width: 100%;
            position: absolute;
            display: none;
            margin-top: 40px;
            padding: 0px;
            left: 0;
            right: 0;            
            ul{
                margin-left:0px !important;
                .main-menu{
                    display:block !important;
                    background: #fff;
                    border-bottom: 1px solid #f5f5f5;
                    padding-left: 0px !important;
                    padding-right: 0px !important;
                    &[data-submenu]::after{
                        right: 25px !important;
                        font-size: 14px !important;
                        top: 15px !important;
                        content: "\f10f";
                        font-family: "Flaticon";                   
                    }
                    &[data-submenu]:hover .submenu{
                        height: auto !important;
                    }
                    &:hover{
                        background-color: #f5f5f5;
                       
                    }
                    &:hover>a{
                        
                            background-color: #f5f5f5 !important; 

                    }
                    .submenu{
                        position: relative;
                        visibility: inherit;
                        opacity: 1;
                        z-index: 1;
                        transform: translateY(0%);
                        transition-delay: 0s, 0s, 0.3s;
                        box-shadow: none;
                        height: 0px;
                        width: 100% !important;
                        position: relative !important;
                        top: 0 !important;
                        display:block;
                        li{
                            padding-left:30px !important;
                        }
                    }
        a{
            height: 50px !important;
            line-height: 50px !important;
            padding: 0px !important;
            padding-left: 30px !important;
            border: none !important;
            background: #fff !important;
            color: #3B566E !important;
            
        }
            }
           
            }
        }
        .registration{
            display:none;
        }
    }
    #intro{       
        .section-contain{
            margin-top: 50px;
        }
        .section-header-left{
            text-align: center;
            .text{
                p{
                    text-align: center;
                }
            }
        }
    } 
    #cloud-services, #design-development{
        .content-photo{
            padding: 30px 0px 0px;
            img{
                width:100% !important;

            }
        }
    }
    #features{
        .content-features{
            margin-bottom: 30px;
        }
    }
    #design-development{
        .content-photo{
            padding: 0px 0px 30px;
        }
    }
    
    #parallax-digits{
        .content-parallax{
            padding: 20px 0px;
            strong{
                margin-bottom: 10px;
            }
            
        }
    }
    #price-plans{
        .content-price{
            margin-bottom:30px;
        }
    }    
    #blog{
        .content-blog{
            margin-bottom: 30px;
            padding: 0px 20px
        }
    }

    #footer{
        .footer-item{
            padding:20px 0px;
            .item-header{
                margin-bottom:15px;
            }
        }
    }
    // END of "HOME" PAGE RESPONSIVE PROPERTY
    
    
    
    // "ABOUT US" PAGE RESPONSIVE PROPERTY
    #about{
        .photo, .text{
            width:100% !important;
            max-width: 100% !important;
        }
        .text{
            position: relative !important;
            margin-bottom: 80px;
        }
    }
    // END of "ABOUT US" PAGE RESPONSIVE PROPERTY

    

    // "FAQ" PAGE RESPONSIVE PROPERTY
    #faq{
        .faq-content{
            margin-top: 50px;
        }
    }
    // End of "FAQ" PAGE RESPONSIVE PROPERTY

    //"BLOG" PAGE and "BLOG_SINGLE" RESPONSIVE PROPERTY
    #blogpage, #blogsinglepage{
        .sidebar{
            .search{
                margin-top:50px !important;
            }
        }
    }
     //END of "BLOG" PAGE and "BLOG_SINGLE" RESPONSIVE PROPERTY


     //PARALLAX-ABOUT RESPONSIVE PROPERTY
     #parallax-aboutUs{
        .content-aboutUs{
            h1{
                font-size:26px !important;
            }
        }
     }
     //END of PARALLAX-ABOUT RESPONSIVE PROPERTY

     #contactpage{
         .contact-information{
             width:100% !important;
             margin-top:30px !important;
             margin-left:0% !important;
         }
     }
}