          // FLATICON
          $font-Flaticon-laptop: "\f100";
    $font-Flaticon-video-camera: "\f101";
    $font-Flaticon-server: "\f102";
    $font-Flaticon-facebook-logo: "\f103";
    $font-Flaticon-twitter: "\f104";
    $font-Flaticon-linkedin: "\f105";
    $font-Flaticon-github-logo: "\f106";
    $font-Flaticon-mobileme-logo-of-black-cloud: "\f107";
    $font-Flaticon-google-plus: "\f108";
    $font-Flaticon-speech-bubble: "\f109";
    $font-Flaticon-man-user: "\f10a";
    $font-Flaticon-pinterest-logo: "\f10b";
    $font-Flaticon-magnifier: "\f10c";
    $font-Flaticon-reply: "\f10d";
    $font-Flaticon-copyright: "\f10e";
    $font-Flaticon-angle-arrow-down: "\f10f";
    $font-Flaticon-angle-pointing-to-left: "\f110";
    $font-Flaticon-angle-arrow-pointing-to-right: "\f111";
    $font-Flaticon-play-button: "\f112";

          // COLORS
          $c-gray: #6F8BA4;
          $c-dark: #3B566E;
          $c-white: #fff;
          $c-blue: #585CE9;
          $c-background: #f7fdfa;
          $c-background-colored: #F7FAFD;

          // BOX-SHADOW
          $bs-regular: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          $bs-checked-button: 0 4px 5px 0 rgba(103, 67, 213, 0.24);
          $bs-header: 0 2px 28px 0 rgba(0, 0, 0, 0.06);

          //TRANSITION
          $t-regular: all 0.3s ease 0s;
          $t-intro: all 0.4s;
          
          //FONT:
          $f-regular: 'Nunito';

          //FONT-SIZE
          $fs-section-header-H1: 28px;
          $fs-section-header-P: 16px;
          $fs-button: 12px;
          $fs-item-header:16px;
          $fs-item-contain: 14px;

          //MARGIN
          $mb-10: 0px 0px 10px;
          $mb-12: 0px 0px 12px;
          $mb-15: 0px 0px 15px;
          $mb-20: 0px 0px 20px;
          $mb-30: 0px 0px 30px;
          $mb-40: 0px 0px 40px;

          $mt-10: 10px 0px 0px;
          $mt-20: 20px 0px 0px;
          $mt-30: 30px 0px 0px;
          $mt-40: 40px 0px 0px;

          //PADDING
          $p-regular: 80px 0px 80px 0px;